
body{
    color: antiquewhite;
    background-color: black;
    height: 250px;
    width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: auto;
    border: solid lightblue 2px;
    border-radius: 20%;
}
p{
    font-size: 30px;
    display: inner-flex;
    font-family: cursive;
}
